.navbar {
    background: #333; /* Dark background from the template */
    padding: 0 20px;
    height: 60px;
    display: flex;
    align-items: center;
    position: fixed; /* Fixes the navbar to the top */
    width: 100%;
    top: 0;
    z-index: 1000; /* Ensures the navbar is above other content */
  }
  
  .navbar-container {
    width: 100%;
    max-width: 1200px; /* Adjust based on your layout */
    margin: 0 auto; /* Centers the navbar container */
    display: flex;
    justify-content: space-between; /* Positions items on the edges */
  }

  body {
    padding-top: 60px; /* This should match the height of your navbar */
  }
  
  .navbar-login {
    margin-left: auto;
    padding-right: 5%; /* Adjusts space from the right edge */
  }
  
  .navbar-link {
    color: #fff; /* White text for visibility */
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .navbar-link:hover {
    background-color: #555; /* Slightly lighter background on hover */
  }
  